@model List<Model.EF.Menu>
<div class="call">
    <p><span>Need help?</span> call us <span class="number">0357287247</span></span></p>
</div>
<div class="account_desc">
    @{ 
        var session = Session[OnlineShop.Common.CommonConstants.USER_SESSION];
    }
    @if (Session[OnlineShop.Common.CommonConstants.USER_SESSION] == null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
            }

        </ul>
    }
    else
    {
<ul>
    <li>Welcome to ThienChien</li>
    <li><a href="~/User/Edit?id=2">Edit Account</a></li>
    <li>@Html.ActionLink("Thoát", "Logout", "User")</li>
    <li><a href="~/Cart/State?id=1">Xem Đơn Hàng</a></li>
</ul>
    }
</div>
<div class="clear"></div>